*, *::after, *::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    margin: 0;
    font-size: 14px;
    background-color: #F5EFE6;
    font-family: 'Fira Sans', sans-serif;
}
.site-layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 17em 1fr;
    grid-template-rows: 5em auto;
}
.menu {
    min-height: 100vh;
    grid-row: 1 / 3;
    background-color: rgb(206, 192, 155);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    grid-row: 1 / 2;
    background-color: rgb(120, 149, 178);
}
main {
    grid-column: 2 / 3;
    width: 100%;
    min-height: 100%;
    background-color: rgb(245, 239, 230);
}
.blakus{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0pc 6pc 3pc 3pc;
}
.input{
    min-width: 12pc;
    max-width: 12pc;
    background-color: rgb(232, 223, 202);
    border: 1px solid #ccc;
    padding: 0.2pc 0.4pc;
    cursor: pointer;
}
.post-container {
    margin: 5pc;
    background-color: rgb(174, 189, 202);
    border-radius: 1pc;
}
.form{
    text-align: center;
    padding: 1pc;
    font-size: large;
}
.submit{
    margin: 1pc;
    background-color: rgb(232, 223, 202);
    border-style: none;
    border-radius: 1pc;
    width: 6pc;
    height: 3pc;
    cursor: pointer;
}
.post {
    height: 5em;
    /* margin: 1em 0; */
    background-color: rgb(120, 149, 178);
}
 label{
    margin: 1pc;
 }

