*, *::after, *::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    margin: 0;
    font-size: 14px;
    background-color: #F5EFE6;
    font-family: 'Fira Sans', sans-serif;
    
}
.site-layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 17em 1fr;
    grid-template-rows: 5em auto;
}
.menu {
    min-height: 100vh;
    grid-row: 1 / 3;
    background-color: rgb(174, 189, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-vertical{
    margin: 2pc;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    grid-row: 1 / 2;
    background-color: rgb(120, 149, 178);
}
.data{
    display: flex;
    justify-content: center;
}

.blakus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1pc;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0pc 2pc 2pc 2pc;
    padding: 1pc;
    background-color: rgb(120, 149, 178);
    border-radius: 1pc;
    min-width: 23pc;
}
.center{
    display: flex;
    justify-content: center;
}
.input{
    min-width: 12pc;
    max-width: 12pc;
    background-color: rgb(232, 223, 202);
    border: 1px solid #ccc;
    padding: 0.2pc 0.4pc;
    cursor: pointer;
    border-radius: 0.5pc;
}
 .input:focus{
    background-color: lightblue;
    border: 2px solid;
 }

.post-container {
    margin: 1pc;
    background-color: rgb(174, 189, 202);
    border-radius: 1pc;
    border: 5px solid rgb(232, 223, 202);
    width: 90%;
}
.form{
    text-align: center;
    padding: 1pc;
    font-size: large;
}
#textarea{
    min-width: 20pc;
    min-height: 10pc;
    border-radius: 1pc;
}
.text{
    margin-top: 2pc;
}
.circle {
    width: 5pc;
    height: 5pc;
    border-radius: 50%;
    background-image: url("https://api.logo.com/api/v2/images?format=webp&logo=logo_d8e287f4-8ff8-49e0-8c38-389f2e87b722&width=2000&quality=100&background=transparent&fit=contain&u=1664969193");
    background-size: cover;
}
.submit{
    
    background-color: rgb(232, 223, 202);
    border-style: none;
    border-radius: 1pc;
    font-size: larger;
    width: 6pc;
    height: 3pc;
    cursor: pointer;
}
.post {
    height: 5em;
    /* margin: 1em 0; */
    background-color: rgb(120, 149, 178);
}
 label{
    margin: 1pc;
 }
 @media only screen and (max-width: 1100px) {
    .blakus{
        flex-direction: column;
    }
    .menu{
        display: none;
    }
    .site-layout{
        display: flex;
        flex-direction: column;
    }
    #textarea{
        min-width: auto;
    }
    .center{
        display: block;
    }
    .column{
        min-width: auto;
    }
 }

@media only screen and (max-width: 340px) {
    .input{
        min-width: 6pc;
        max-width: 6pc;
    }
}
