main {
    width: 100%;
    min-height: 100%;
    background-color: white;
}
.site-layout {
    grid-template-columns: 1fr;
}
.layout {
    text-align: end;
    margin: 1em 5em;
}
.post-container {
    display: grid;
    margin: 3em;
    gap: 3em 1.5em;
}
.post {
    background-color: white;
    color: black;
    border: 3px solid rgb(120, 149, 178);
    border-radius: 1em;
    text-decoration: none;
    transition-duration: 1s;
}
.post:hover {
    box-shadow: 2px 2px 1.5em rgba(0, 0, 0, 0.4);
}
h2 {
    font-family: 'Roboto', sans-serif;
    margin: .5em 0;
}
.post-text {
    margin: 0 1em 1em 1em;
}
.post-text span {
    font-size: 1.2em;
    font-weight: 600;
}
.price {
    margin: 1em 0;
}
.price span {
    background-color: rgb(120, 149, 178);
    color: white;
    font-size: 1.6em !important;
    padding: 4px;
    border-radius: 4px;
}

.image {
    width: 100%;
    height: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    background-size: cover;
    background-position: center;
    border-radius: .8em .8em 0 0;
    overflow: hidden;
    transition-duration: .5s;
}
.image-text {
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 2em;
    transition-duration: 1s;
    overflow: hidden;
}
.image-text:hover {
    color: white;
    backdrop-filter: brightness(40%);
}

#show-menu, #close-menu {
    position: absolute;
    border: none;
    background: none;
    text-decoration: none;
    padding: .3em;
    aspect-ratio: 1;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-duration: .3s;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}

#show-menu {
    top: 50%;
    transform: translateY(-50%);
    left: .5em;
}
#close-menu {
    top: .5em;
    right: .5em;
}

#show-menu:hover {
    background-color: rgb(174, 189, 202);
}
#close-menu:hover {
    background-color: rgb(120, 149, 178);
}

.filter {
    margin-top: 1em;
    border-top: 3px solid rgb(120, 149, 178);
    text-align: center;
}
details[open] summary ~ * {
    animation: sweep .4s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}
details {
    text-align: left;
}
details > summary {
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: .3em;
    transition: .3s;
}
details > summary:hover {
    background-color: rgb(120, 149, 178);
    border-radius: 4px;
}
details p {
    margin-left:.3em;
}

details input[type=number] {
    border: none;
    width: 100%;
    background-color: rgba(120, 149, 178, .5);
    border: 2px solid rgb(120, 149, 178);
}
details input[type=number]:focus {
    border: none;
    background-color: rgba(120, 149, 178, .3);
}

.filter button {
    border: none;
    width: 100%;
    padding: .5em 1em;
    border-radius: 2em;
    background-color: rgb(120, 149, 178);
    margin: .5em 0;
    cursor: pointer;
}

@media only screen and (max-width: 47em) {
    .menu {
        position: fixed;
        width: 0;
        height: 100vh;
        overflow-y: auto;
    }
    .content-vertical {
        display: none;
    }
    
}

@media only screen and (min-width: 32em) {
    .post-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .layout {
        display: none;
    }
}

@media only screen and (min-width: 47em) {
    .site-layout {
        grid-template-columns: 17em 1fr;
    }
    .post-container {
        grid-template-columns: repeat(2, 1fr);
    }
    main {
        grid-column: 2 / 3;
    }
    .menu {
        position: relative;
        width: 17em;
        overflow-y: visible;
    }
    .content-vertical {
        display: block;
    }
    #show-menu, #close-menu {
        display: none;
    }
} 

@media only screen and (min-width: 65em) {
    .post-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .layout {
        display: block;
    }
}

@media only screen and (min-width: 78em) {
    .post-container {
        grid-template-columns: repeat(4, 1fr);
    }

}

@keyframes pop-in {
    0% {
        left: -17em;
    }
    100% {
        left: 0;
    }
}

@keyframes pop-out {
    0% {
        left: 0;
    }
    90% {
        left: -17em;
    }
    100% {
        left: -17em;
    }
}